body {
    margin: 0px;
}

.head {
    display: flex;
    height: 20vh;
    background-image: url("https://static.wixstatic.com/media/162a3a_5efcd36d57144be6b50251d3f94c5ced~mv2_d_5182_3455_s_4_2.jpg/v1/fit/w_2500,h_1330,al_c/162a3a_5efcd36d57144be6b50251d3f94c5ced~mv2_d_5182_3455_s_4_2.jpg");
}

.head > p {
    font-size: xx-large;
    margin-left: 15%;
    color: aliceblue;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main {
    display: flex;
    width: 100vw;
    height: 80vh;
    background-color:whitesmoke;
    gap: 1%;
}

.lefttool {
    flex-basis: 9%;
}

.daychoose {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uptriangle {
    border: none;
    width: 60px;
    height: 20px;
    background-color: aquamarine;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.downtriangle {
    border: none;
    width: 60px;
    height: 20px;
    background-color: aquamarine;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.daytitle {
    align-self: flex-start;
    width: 120px;
    
}

.daytitle > h2{
    background-color:white;
    color:aquamarine;
    font-weight: 600;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.daylist {
    gap: 15px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.dayitem {
    background-color: aquamarine;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.daylink {
    text-decoration: none;
}

.viewpointbox {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}



.viewpoint {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    flex-basis: 30%;
    padding: 20px;
}

.righttool {
    flex-basis: 9%;
    display: flex;
    padding: 20px 0px 50px 20px;
    align-items: flex-end;
}

.output > button{
    width: 100%;
    border: none;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    color: white;
    font-size: large;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.store {
    background-color: orange;
}

.out{
    background-color: aquamarine;
}

